.chat-body {
    align-content: center;
    alignment: center;
   align-self: center;
    padding: 20px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;

}

.chat-container {
    width: 100vh;
    display: flex;
    margin-top: 20px;

}